@import './base';

table {
    border-collapse: collapse;
    width: 100%,
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
}
.openContent {
  background-image: url('../images/main.jpg');
  
}

.button-animation {
  z-index:-100;
  opacity:0.2;
  transform:translate(-100%,100%);
  translate:all .3s;
  &:hover {
    opacity:0.6;

  }
}