@import './base';


.landing {
    min-height:100vh;
}

.welcome {
    overflow:hidden;
    border-radius:70%;
}

.welcome_note {
    font-size:3.5em;
}

.main_btn {
    background-color: #362516;;
    color:#f6dec2;
    padding:10px 20px;
    font-size:1.2em;
    border-radius:10px;
}

.readmorebtn {
    background-color:#362516;
}

.descriptable_image {
    border-radius:0 30%;
}




@media screen and (max-width:767px){

}