*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

$main-color:#f5c31f;
.btn-main {
    background-color:$main-color;
    padding:10px;
    border:none;
    border-radius:0.8em;
}

.bg-main {
    background-color:$main-color;
}

.main-heading {
    color:$main-color;
}

.main-description {
    color:$main-color;
}