*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

$main-color:#f5c31f;
.btn-main {
    background-color:$main-color;
    padding:10px;
    border:none;
    border-radius:0.8em;
}
.btn-outline-main {
    padding-block:.8em;
    padding-inline:1em;
    background:transparent;
    border:1px solid $main-color;
    color:$main-color;
    font-size:1.2em;
    border-radius:.8em;
    &:hover {
        background:$main-color;
        color:#fff;
    }
}

.bg-main {
    background-color:$main-color;
}

.main-heading {
    color:$main-color;
}

.main-description {
    color:$main-color;
}